.picker-toolbar.sc-ion-picker-ios, .picker-toolbar.sc-ion-picker-md {
  border-bottom: 0;
}
.picker-wrapper.sc-ion-picker-ios, .picker-wrapper.sc-ion-picker-md {
  border-top: 0;
}
.picker-wrapper.sc-ion-picker-ios, .picker-wrapper.sc-ion-picker-md {
  background: #2b2b2b;
}
.picker-above-highlight.sc-ion-picker-ios,
.picker-below-highlight.sc-ion-picker-ios,
.picker-above-highlight.sc-ion-picker.md,
.picker-below-highlight.sc-ion-picker-md {
  background: rgba(0,0,0,0.5);
  border: none;
}
.picker-opt {
  color: #fff;
}